<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Post</title>
</head>
<body>
<h1>Create New Post</h1>
<form th:action="@{/posts/save}" method="post">
  <label>Title:</label>
  <input type="text" name="title" /><br/>
  <label>Content:</label>
  <textarea name="content"></textarea><br/>
  <label>Date:</label>
  <input type="text" name="date" placeholder="YYYY-MM-DD" /><br/>
  <label>Author:</label>
  <input type="text" name="authorname" /><br/>
  <button type="submit">Create</button>
</form>
</body>
</html>
