<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>All Posts</title>
</head>
<body>
<h1>All Blog Posts</h1>
<a href="/posts/new">Create New Post</a>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
  <tr th:each="post : ${posts}">
    <td th:text="${post.id}"></td>
    <td th:text="${post.title}"></td>
    <td th:text="${post.authorname}"></td>
    <td th:text="${post.date}"></td>
    <td>
      <a th:href="@{/posts/edit/{id}(id=${post.id})}">Edit</a> |
      <a th:href="@{/posts/delete/{id}(id=${post.id})}" onclick="return confirm('Are you sure?')">Delete</a>
    </td>
  </tr>
</table>
</body>
</html>
